* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100rem;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 5rem;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  justify-content: space-between;
  top: 0;
  z-index: 2;
}
header #eu {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
  border-top-left-radius: 1.58rem;
  border-bottom-left-radius: 1.58rem;
  margin-left: 50px;
}
header #eu img {
  border-radius: 10rem;
}
header #eu h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
header #eu:hover {
  cursor: pointer;
}
header #eu:hover h1 {
  color: rgb(163, 159, 159);
  transition: 0.4s;
}
header #home_list {
  display: flex;
  justify-content: space-around;
  width: 35rem;
  align-items: center;
}
header #home_list li {
  text-transform: uppercase;
  font-weight: 550;
  height: 100%;
  padding: 0px 15px;
  display: flex;
  align-items: center;
}
header #home_list li:hover {
  cursor: pointer;
  border-bottom: 5px solid black;
  transition: 0.3s;
}
header #hamburguer {
  display: none;
}
header #menuLateral {
  display: none;
}
header #menuLateral #menuBar {
  display: none;
}
header #menuLateral #contato_menuLateral {
  display: none;
}

aside {
  height: 10rem;
  width: 3.5rem;
  padding: 3px 3px 3px 0px;
  position: absolute;
  background-color: white;
  top: 17.5rem;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.39);
  cursor: pointer;
}
aside #redesSociais {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
aside #redesSociais img:nth-child(1):hover, aside #redesSociais img:nth-child(2):hover, aside #redesSociais img:nth-child(3):hover {
  transform: scale(1.1);
  transition: 0.2s;
}

#apresentacao {
  margin-top: 5rem;
  height: 39rem;
  display: flex;
  justify-content: space-between;
}
#apresentacao .conteudoApresentacao {
  margin-left: 13rem;
  padding-top: 9.5rem;
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 27rem;
}
#apresentacao .conteudoApresentacao h1 {
  padding-bottom: 10px;
  font-size: 2rem;
  text-align: center;
}
#apresentacao .conteudoApresentacao .sobreMim {
  font-size: 17px;
  align-self: center;
  text-align: center;
  padding-bottom: 4rem;
}
#apresentacao .conteudoApresentacao button {
  width: 260px;
  height: 60px;
  border-radius: 30px;
  align-self: center;
  font-size: 16px;
  background-color: rgb(31, 165, 255);
  color: white;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
}
#apresentacao .conteudoApresentacao button .textButton {
  width: 300px;
  display: flex;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin-left: -4.75rem;
}
#apresentacao .conteudoApresentacao button:hover {
  margin-top: -0.3rem;
  transition: 0.1s;
  box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.76);
}
#apresentacao .imagemApresentacao {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 10rem;
}
#apresentacao .imagemApresentacao a {
  position: absolute;
  z-index: 1;
  align-self: end;
  font-size: 10px;
  margin: 4rem 60px 0px 0px;
}
#apresentacao .imagemApresentacao img {
  width: 40rem;
}

@media (width < 867px) {
  header {
    padding: 0px 30px 0px 10px;
  }
}
@media (width < 792px) {
  header #eu {
    margin-left: 20px;
  }
  header #eu h1 {
    margin-left: 20px;
  }
}
@media (width < 610px) {
  header {
    padding: 0;
  }
  header #home_list {
    display: none;
  }
  header #hamburguer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    align-self: center;
    width: 30px;
    height: 25px;
    margin-right: 2rem;
  }
  header #hamburguer div {
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: black;
    position: relative;
  }
  header #menuLateral {
    display: none;
    background-color: rgba(0, 0, 0, 0.295);
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
  }
  header #menuLateral #menuBar {
    display: flex;
    justify-content: center;
    width: 15rem;
    top: 5rem;
    right: -240px;
    height: 100%;
    position: fixed;
    background-color: white;
    padding-top: 5.5em;
  }
  header #menuLateral #menuBar .menuList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
  }
  header #menuLateral #menuBar .menuList li {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 550;
    width: 65%;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    cursor: pointer;
  }
  header #menuLateral #contatos_menuLateral {
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    right: -198px;
    top: 30px;
  }
  #asideRedes {
    display: none;
  }
  #apresentacao {
    display: flex;
    justify-content: center;
  }
  #apresentacao .conteudoApresentacao {
    display: flex;
    align-items: center;
    margin: 0;
  }
  #apresentacao .imagemApresentacao {
    display: none;
  }
}
@media (width < 507px) {
  #apresentacao .conteudoApresentacao {
    display: flex;
    align-items: center;
  }
  #apresentacao .conteudoApresentacao h1 {
    width: 14rem;
  }
  #apresentacao .conteudoApresentacao p {
    width: 17rem;
  }
}/*# sourceMappingURL=styles.css.map */